:root {
  --white : #FFF;
  --primary: #F59E0B;
  --transparent-gray: rgba(150, 150, 150, 0.3); /* Gris transparente */
  --black: rgba(0, 0, 0, 0.8); /* Negro con 80% de opacidad */

}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Outfit', sans-serif;
  background-image: url('/bg_clima.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--white);
  font-size: 2rem;
}